.products {
	display: grid;
	width: 100%;
	padding: 75px 0;
	grid-template-columns: repeat(auto-fill, 360px);
	align-items: center;
	justify-content: center;
	gap: 40px;
	grid-auto-flow: auto;
}

.product {
	@include c-flex;
	align-items: flex-start;
	width: 25%;
	min-width: 360px;

	.pic {
		width: 100%;
		height: 360px;
        overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.5s all ease-in-out;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	h3,
	p {
		width: 100%;
		text-align: center;
		margin: 0;
		padding-top: 10px;
	}

    h3{
        color: black;
    }

	p {
		color: #b0b0b0;
	}
}
