.details{
    @include c-flex;
    padding: 75px 0;

    .detail{
        @include r-flex;
        padding: 40px 0;
        border-bottom: 1px solid $main-box-background-color;
        width: 96%;

        .context{
            @include c-flex;
            width: 50%;

            p{
                color: #b99bb6;
                width: 90%;
            }

            span{
                width: 90%;
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .learn-more {
                @include r-flex;
                margin-top: 20px;
                width: 90%;
            }
        }

        .pic{
            @include c-flex;
            width: 50%;
            background-color: #d6bbd3;
            padding: 15px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .detail:nth-child(2){
        flex-direction: row-reverse;
    }
    
    .detail:last-child{
        border-bottom: none;
    }
}

@media only screen and (max-width: 768px) {
    .details{
        .detail{
            @include c-flex;
            gap: 10px;

            .context, .pic{
                width: 95%;
            }
        }

        .detail:nth-child(2){
            flex-direction: column-reverse;
        }
    }
}